<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta lang="zh">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta name="description" content="">
  <meta name="keyword" content="">
  <title>二货</title>
  <link href="https://s.newscdn.cn/file/2020/12/d0710303-9dfe-4afb-873f-28a7be471fd1.ico" rel="icon" type="image/x-ico">
</head>
<body>
  <div id="root"></div>
</body>
</html>
