:global(.ant-tabs) {
  width: 1000px;
  margin: 20px auto;
}
.authContent{
  margin: 20px;
  width: 960px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(102, 101, 101, 0.15);
}
.addressContent{
  margin: 20px;
  width: 960px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(102, 101, 101, 0.15);
  .addAddress{
    height: 45px;
    border: 2px solid #f3c59a;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
     background-color: #fcd2aa8f;
    }
  }
  .addressItem{
    border: 1px solid #c7c5c5;
    padding: 20px;
    margin: 20px 0px;
    div{
      margin: 5px 0px;
    }
  }
}
.loginout{
  display: block;
  width: 200px;
  height: 36px;
  margin: 20px auto;
}
.tips{
  font-size: 12px;
  margin-bottom: 15px;
  color: rgb(104, 103, 103);
}
:global(.ant-select) {
  width: 80%;
}
:global(.ant-input) {
  width: 80%;
}
:global(.ant-input-group-wrapper) {
  width: 80%;
}