:global(.ant-tabs) {
  width: 1000px;
  margin: 20px auto;
}
.authContent{
  margin: 20px;
  width: 960px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(102, 101, 101, 0.15);
}
.addressContent{
  margin: 20px;
  width: 960px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(102, 101, 101, 0.15);
  .addAddress{
    height: 45px;
    border: 2px solid #f3c59a;
    text-align: center;
    line-height: 45px;
    font-size: 16px;
    cursor: pointer;
    &:hover {
     background-color: #fcd2aa8f;
    }
  }
  .addressItem{
    border: 1px solid #c7c5c5;
    padding: 20px;
    margin: 20px 0px;
    div{
      margin: 5px 0px;
    }
  }
}
.loginout{
  display: block;
  width: 200px;
  height: 36px;
  margin: 20px auto;
}
.tips{
  font-size: 12px;
  margin-bottom: 15px;
  color: rgb(104, 103, 103);
}
:global(.ant-select) {
  width: 80%;
}
:global(.ant-input) {
  width: 80%;
}
:global(.ant-input-group-wrapper) {
  width: 80%;
}
.orderGoods{
  margin: 20px;
  margin-top: 30px;
  width: 960px;
}
.orderContent{
  margin: 20px;
  margin-top: 50px;
  width: 960px;
  .orderContentHeader{
    display: flex;
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    span{
      padding: 10px 0px;
      flex: 1;
      text-align: center;
    }
  }
  .orderItemHeader{
    display: flex;
    background: #f8f8f8;
    border: 1px solid #d8d8d8;
    padding: 10px 0px;
    margin-top: 20px;
    span{
      padding: 0px 10px;
      margin-right: 20px;
    }
  }
}

.orderContent2{
  display: flex;
  background: #fff9f4;
  div{
    flex: 1;
  }
  .good_detail {
    flex: 3;
  }
}
.good_detail{
  display: flex;
  img{
    margin-right: 20px;
    padding: 10px;
    width: auto;  
    height: auto;  
    max-width: 25%;  
    max-height: 100%;    
  }
  div{
    text-align: left;
  }
  .detail {
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.generateItem{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
:global(.ant-tag) {
  margin-right: 0px;
}

.orderGoodList{
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  & > div {
    margin-right: 16px;
  }
}

.Chat {
  display: flex;
  border: 1px solid #c7c5c5;
  .ChatList{
    flex: 1;
    background: #c7c5c571;
    height: 450px;
    overflow-y: auto;
    .deleteChat{
      float: right;
      display: none;
    }
    .ChatItem{
      padding: 10px 15px;
      cursor: pointer;
      &:hover {
        background: #c7c5c5;
      }
      &:hover .deleteChat {
        display: block;
      }
      &::after {
        content: "";
        display: block;
        height: 0;
        clear:both;
        visibility: hidden;
      }
    }
    .active {
      background: #c7c5c5;
    }
  }
  .ChatContent{
    flex: 3;
  }
}
.popMyItem{
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  max-width: 30%;
  background: #b0e8f741;
  text-align: left;
}
.popItem {
  margin: 10px 0px;
  padding: 10px;
  border-radius: 5px;
  max-width: 30%;
  background: #c7c5c541;
  text-align: left;
}